@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: none;
}

body {
  font-family: "Roboto Slab", serif;
}

.half-rigth {
  width: 50%;
  float: right;
}

.half-left {
  width: 50%;
  float: left;
}

.right {
  float: right;
}

.left {
  float: left;
}

.nopointer {
  cursor: default !important;
}

.center-text {
  text-align: center;
}

.sm-vr-mg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.md-vr-mg {
  margin-top: 25px;
  margin-bottom: 25px;
}

.lg-vr-mg {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sm-hr-mg {
  margin-right: 10px;
  margin-left: 10px;
}

.md-hr-mg {
  margin-right: 10px;
  margin-left: 10px;
}

.lg-hr-mg {
  margin-right: 10px;
  margin-left: 10px;
}

.slow-tr {
  -webkit-transition: 2s;
  transition: 2s;
}

.link {
  text-decoration: none;
}

.mg-bt {
  margin-bottom: 30px !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button {
  font-size: 20px;
  color: #0e1111;
  background-color: #edf5e1;
  border: none;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  padding: 5px 20px;
}

.button:hover {
  color: #0e1111;
}

.button-sec {
  font-size: 20px;
  color: #edf5e1;
  background-color: #0e1111;
  border: none;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  padding: 5px 20px;
}

.button-sec:hover {
  color: #edf5e1;
}

.shadow {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.shadow-sec {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#search-subjects-button {
  width: 40px;
  margin-bottom: 5px;
}

.header {
  background-color: #5cdb95;
  width: 100%;
  height: 90px;
}

@media (max-width: 800px) {
  .header {
    height: 140px;
  }
}

.header-right {
  width: 70%;
  height: 100%;
  float: right;
}

@media (max-width: 800px) {
  .header-right {
    width: 100%;
    height: 50%;
  }
}

.header-left {
  width: 30%;
  height: 100%;
  float: left;
}

@media (max-width: 800px) {
  .header-left {
    width: 100%;
    height: 50%;
  }
}

.links {
  font-size: 30px;
  font-family: "Bebas Neue", cursive;
  float: right;
  margin-right: 20px;
  margin-top: 50px;
}

.links li {
  margin-right: 20px;
  display: inline;
}

@media (max-width: 800px) {
  .links li {
    margin-right: 8px;
  }
}

.links li a {
  color: #53d3d1;
  text-decoration: none;
}

.links li a:hover {
  color: #5cdb95;
}

@media (max-width: 800px) {
  .links {
    margin-top: 30px;
    font-size: 26px;
  }
}

#logo {
  -webkit-transform: translate(0, -150px);
          transform: translate(0, -150px);
}

.form-page {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

@media (max-width: 550px) {
  .form-page {
    padding-top: 20px;
  }
}

.form-box {
  position: relative;
  margin: 0 auto;
  background-color: #5cdb95;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  width: calc(min(600px, 88%));
  padding: 20px;
  border-bottom: black 4px solid;
}

@media (max-width: 550px) {
  .form-box {
    width: 100%;
    padding: 5px;
  }
}

.form-title {
  text-align: center;
  color: #0e1111;
  margin-bottom: 15px;
}

.form-label {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.sm-margin {
  padding-bottom: 20px;
}

@media (max-width: 550px) {
  .sm-margin {
    padding: 0;
  }
}

.form-element {
  font-size: 23px;
  margin: 10px;
}

@media (max-width: 550px) {
  .form-element {
    font-size: 17px;
    margin: 4px;
  }
}

.form-button {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
}

.form-button-2 {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
}

.form-button-2 a {
  font-size: 20px;
  color: #53d3d1;
  background-color: #feb249;
  border: none;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 30px;
}

.form-change {
  margin-top: 20px;
  font-weight: 700;
}

.form-change a {
  color: #53d3d1;
  background-color: #edf5e1;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 700;
}

.invalid {
  color: red;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.form-out {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: -17px;
  left: 0;
  right: 0;
}

.your-subjects {
  width: 95%;
  margin: 0 auto;
  overflow-y: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 300px;
  margin-top: 20px;
}

@media (max-width: 550px) {
  .your-subjects {
    margin-top: 5px;
    min-height: 200px;
    overflow-x: hidden;
    width: 100%;
  }
}

@media (max-width: 550px) {
  #subject_id {
    padding: 0;
    font-size: 17px;
  }
}

.subject-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #edf5e1;
  width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 20px;
}

@media (max-width: 550px) {
  .subject-box {
    width: 100%;
    padding: 5px 10px;
  }
}

#cachedSubjects {
  margin: 5px;
  padding: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#cachedSubjects p {
  width: 80%;
}

@media (max-width: 550px) {
  #cachedSubjects {
    padding: 5px;
    margin: 2px 5px;
  }
  #cachedSubjects p {
    width: 90%;
  }
}

.subject-color {
  height: 35px;
  width: 35px;
  background-color: var(--color);
  border-radius: 50%;
}

@media (max-width: 550px) {
  .subject-color {
    height: 20px;
    width: 20px;
  }
}

.subject-name p {
  text-align: center;
  margin-left: 5px;
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .subject-name p {
    font-size: 15px;
  }
}

.subject-action img {
  width: 35px;
}

@media (max-width: 550px) {
  .subject-action img {
    width: 27px;
  }
}

.add {
  background-color: #edf5e1;
  margin: 15px auto;
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.add img {
  width: 60px;
  display: block;
  margin: auto;
}

@media (max-width: 550px) {
  .add img {
    width: 40px;
  }
}

.subjectsIdsContainer {
  background-color: #edf5e1;
  margin-bottom: 15px;
  height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

@media (max-width: 550px) {
  .subjectsIdsContainer {
    height: 190px;
  }
}

.ids {
  padding: 10px 15px;
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .ids {
    font-size: 14px;
  }
}

.ids b {
  padding: 2px 4px;
}

.ids.clear {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ids.clear:hover {
  background-color: #feb249;
}

.box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-input input {
  border-radius: 6px;
}

.color-image {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.color-image img {
  width: 35px;
}

@media (max-width: 550px) {
  .color-image {
    padding: 5px;
  }
  .color-image img {
    width: 28px;
  }
}

#hideColor {
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
  opacity: 0;
  visibility: hidden;
}

.calendar-page {
  width: 90%;
  margin: 0 auto;
}

.calendar {
  margin-bottom: 50px;
  -webkit-box-shadow: 12px -6px 0px purple;
          box-shadow: 12px -6px 0px purple;
  height: 560px;
}

@media (max-width: 800px) {
  .calendar {
    height: 810px;
  }
}

.month-name {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #edf5e1;
}

.month-name p {
  font-size: 40px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
  margin-bottom: 0;
}

.day {
  width: calc(100%/7);
  height: 250px;
  border: 1px solid black;
  float: left;
}

@media (max-width: 800px) {
  .day {
    width: calc(100%/4);
  }
}

@media (max-width: 550px) {
  .day {
    width: calc(100%/1);
    height: 175px;
  }
}

.day-element {
  margin: 10px 0;
  width: 100%;
  cursor: pointer;
  font-size: 14px;
}

@media (max-width: 800px) {
  .day-element {
    font-size: 15px;
  }
}

.day-element-name {
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  padding: 2px 10px;
}

.day-corner {
  margin-left: 10px;
  font-weight: bold;
}

.menu {
  width: calc(min(800px, 80%));
  margin: 10px auto;
}

.swapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swapper img {
  width: 60px;
  background-color: #53d3d1;
  padding: 5px;
  border-radius: 10px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show-colors {
  font-family: "Roboto Slab", serif;
  margin: 0;
  background-color: #002447;
  padding: 5px 10px;
  color: #edf5e1;
  border-radius: 5px;
  cursor: help;
}

.del-type-img {
  background-color: #53d3d1;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
}

.mycontainer {
  width: calc(min(800px, 80%));
  height: 600px;
  margin: 0 auto;
  background-color: #5cdb95;
  margin-bottom: 70px;
}

@media (max-width: 800px) {
  .mycontainer {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .mycontainer {
    width: 100%;
  }
}

.delivery-container {
  width: 90%;
  margin: 0 auto;
  height: 90%;
  padding: 10px 0;
  overflow-x: hidden;
  background-color: #5cdb95;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

@media (max-width: 550px) {
  .delivery-container {
    width: 100%;
  }
}

.delivery-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 15px auto;
  padding: 20px 10px;
  background-color: #edf5e1;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .delivery-block {
    padding: 10px 5px;
    width: 95%;
  }
}

.delivery-name p, .delivery-date p {
  margin: 0;
}

@media (max-width: 550px) {
  .delivery-name p, .delivery-date p {
    font-size: 16px;
  }
}

.container-actions {
  background-color: #5cdb95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-actions img {
  margin: 15px 0px;
  background-color: cornsilk;
  border-radius: 50%;
  width: 50px;
}

.popup-col {
  font-family: "Roboto Slab", serif;
  position: absolute;
  left: 50%;
  top: 300px;
  width: 400px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #feb249;
  padding: 5px;
  border-radius: 20px;
}

.popup-del {
  position: absolute;
  left: 50%;
  top: 300px;
  width: calc(min(70%, 500px));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #242020;
  color: wheat;
  font-family: "Roboto Slab", serif;
  border-radius: 20px;
  -webkit-box-shadow: 10px 18px 16px -5px black;
          box-shadow: 10px 18px 16px -5px black;
}

@media (max-width: 550px) {
  .popup-del {
    top: 200px;
    width: 90%;
  }
}

.popup-del-name {
  text-align: center;
  font-size: 32px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px 10px;
}

.popup-del-name p {
  margin-bottom: 0px;
}

@media (max-width: 550px) {
  .popup-del-name {
    font-size: 23px;
  }
}

#popup-subject {
  text-align: center;
  margin-bottom: 0px;
}

.popup-del-url {
  border: 3px solid orangered;
  background-color: lightsalmon;
  border-radius: 10px;
  width: 45px;
  margin: 5px auto;
}

@media (max-width: 550px) {
  .popup-del-url {
    margin: 5px 10px;
    float: left;
  }
}

.popup-del-url a img {
  width: 35px;
  height: 35px;
}

.popup-del-descr {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 80%;
  margin: 0 auto;
}

.popup-del-descr textarea {
  background-color: #242020;
  max-height: 150px;
  min-height: 100px;
  height: 50px;
  width: 95%;
  color: #F5DEB3;
  border: none;
}

.popup-del-date {
  background-color: orangered;
  text-align: center;
  font-size: 28px;
}

@media (max-width: 550px) {
  .popup-del-date {
    font-size: 20px;
  }
}

.popup-del-action {
  height: 80px;
  text-align: center;
  padding-top: 20px;
  width: 50%;
  float: left;
}

@media (max-width: 550px) {
  .popup-del-action {
    width: 35%;
    padding-top: 10px;
  }
}

.popup-del-action a {
  border: 3px solid orangered;
  background-color: lightsalmon;
  border-radius: 10px;
  padding: 10px 50px;
  vertical-align: middle;
  text-decoration: none;
  color: black;
}

@media (max-width: 550px) {
  .popup-del-action a {
    padding: 10px 20%;
  }
}

.popup-del-action a:hover {
  color: black;
  -webkit-box-shadow: 5px 5px;
          box-shadow: 5px 5px;
}

.welcome-page {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #053860;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(12%, #053860), color-stop(62%, #0384ad), to(#00d4ff));
  background: linear-gradient(0deg, #053860 12%, #0384ad 62%, #00d4ff 100%);
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.start {
  width: 200px;
  margin: 10px auto;
  background-color: #5cdb95;
  border-radius: 10px;
  padding: 5px 15px;
  border: 2px solid #53d3d1;
  text-align: center;
}

.start a {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  color: #53d3d1;
  text-decoration: none;
}

/* Hide the images by default */
.mySlides {
  margin-bottom: 15px;
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 550px) {
  .prev, .next {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

/* Caption text */
.text {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 20px;
  color: white;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 75%;
  left: 13%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 550px) {
  .text {
    font-size: 14px;
    font-weight: 500;
    font-family: "Roboto Slab", serif;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000;
}

.universities {
  font-family: "Roboto Slab", serif;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
}

.universities h1 {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.university {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px auto;
}

.university img {
  width: 100px;
}

.error {
  color: #edf5e1;
  font-family: "Bebas Neue", cursive;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.error a {
  text-decoration: none;
  background-color: #5cdb95;
  color: #53d3d1;
  padding: 10px 30px;
}
/*# sourceMappingURL=main.css.map */