@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: none;
}

body {
  font-family: "Roboto Slab", serif;
}

.half-rigth {
  width: 50%;
  float: right;
}

.half-left {
  width: 50%;
  float: left;
}

.right {
  float: right;
}

.left {
  float: left;
}

.nopointer {
  cursor: default !important;
}

.center-text {
  text-align: center;
}

.sm-vr-mg {
  margin-top: 10px;
  margin-bottom: 10px;
}

.md-vr-mg {
  margin-top: 25px;
  margin-bottom: 25px;
}

.lg-vr-mg {
  margin-top: 50px;
  margin-bottom: 50px;
}

.sm-vr-pd {
  padding-top: 10px;
  padding-bottom: 10px;
}

.md-vr-pd {
  padding-top: 25px;
  padding-bottom: 25px;
}

.lg-vr-pd {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sm-hr-mg {
  margin-right: 10px;
  margin-left: 10px;
}

.md-hr-mg {
  margin-right: 10px;
  margin-left: 10px;
}

.lg-hr-mg {
  margin-right: 10px;
  margin-left: 10px;
}

.slow-tr {
  -webkit-transition: 2s;
  transition: 2s;
}

.link {
  text-decoration: none;
}

.mg-bt {
  margin-bottom: 30px !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.button {
  font-size: 20px;
  color: #0e1111;
  background-color: #edf5e1;
  border: none;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  padding: 5px 20px;
}

.button:hover {
  color: #0e1111;
}

.button-sec {
  font-size: 20px;
  color: #edf5e1;
  background-color: #0e1111;
  border: none;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  padding: 5px 20px;
}

.button-sec:hover {
  color: #edf5e1;
}

.shadow {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.shadow-sec {
  -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#search-subjects-button {
  width: 40px;
  margin-bottom: 5px;
}

.header {
  background-color: #5cdb95;
  padding: 10px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header a, .header a:hover {
  text-decoration: none;
  color: #002447;
}

@media (max-width: 550px) {
  .header {
    padding: 10px 10px;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Slab", serif;
}

.header-right div {
  margin-left: 40px;
  font-size: 22px;
}

@media (max-width: 550px) {
  .header-right div {
    margin-left: 10px;
    font-size: 17px;
  }
}

.logo {
  font-family: "Yusei Magic", sans-serif;
  font-size: 40px;
}

@media (max-width: 550px) {
  .logo {
    font-size: 25px;
  }
}

.form-page {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

@media (max-width: 550px) {
  .form-page {
    padding-top: 20px;
  }
}

.form-box {
  position: relative;
  margin: 0 auto;
  background-color: #5cdb95;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  width: calc(min(600px, 88%));
  padding: 20px;
  border-bottom: black 4px solid;
}

@media (max-width: 550px) {
  .form-box {
    width: 100%;
    padding: 5px;
  }
}

.form-title {
  text-align: center;
  color: #0e1111;
  margin-bottom: 15px;
}

.form-label {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.sm-margin {
  padding-bottom: 20px;
}

@media (max-width: 550px) {
  .sm-margin {
    padding: 0;
  }
}

.form-element {
  font-size: 23px;
  margin: 10px;
}

@media (max-width: 550px) {
  .form-element {
    font-size: 17px;
    margin: 4px;
  }
}

.form-button {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
}

.form-button-2 {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
}

.form-button-2 a {
  font-size: 20px;
  color: #53d3d1;
  background-color: #feb249;
  border: none;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  font-style: italic;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 30px;
}

.form-change {
  margin-top: 20px;
  font-weight: 700;
}

.form-change a {
  color: #53d3d1;
  background-color: #edf5e1;
  text-decoration: none;
  padding: 5px 10px;
  font-weight: 700;
}

.invalid {
  color: red;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
}

.form-out {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: -17px;
  left: 0;
  right: 0;
}

.your-subjects {
  width: 95%;
  margin: 0 auto;
  overflow-y: auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 300px;
  margin-top: 20px;
}

@media (max-width: 550px) {
  .your-subjects {
    margin-top: 5px;
    min-height: 200px;
    overflow-x: hidden;
    width: 100%;
  }
}

@media (max-width: 550px) {
  #subject_id {
    padding: 0;
    font-size: 17px;
  }
}

.subject-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #edf5e1;
  width: 90%;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 20px;
}

@media (max-width: 550px) {
  .subject-box {
    width: 100%;
    padding: 5px 10px;
  }
}

#cachedSubjects {
  margin: 5px;
  padding: 5px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#cachedSubjects p {
  width: 80%;
}

@media (max-width: 550px) {
  #cachedSubjects {
    padding: 5px;
    margin: 2px 5px;
  }
  #cachedSubjects p {
    width: 90%;
  }
}

.subject-color {
  height: 35px;
  width: 35px;
  background-color: var(--color);
  border-radius: 50%;
}

@media (max-width: 550px) {
  .subject-color {
    height: 20px;
    width: 20px;
  }
}

.subject-name p {
  text-align: center;
  margin-left: 5px;
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .subject-name p {
    font-size: 15px;
  }
}

.subject-action img {
  width: 35px;
}

@media (max-width: 550px) {
  .subject-action img {
    width: 27px;
  }
}

.img-nice {
  width: 50px;
  background-color: #edf5e1;
  border-radius: 50%;
  padding: 5px;
}

@media (max-width: 550px) {
  .img-nice {
    width: 40px;
  }
}

.subjectsIdsContainer {
  background-color: #edf5e1;
  margin-bottom: 15px;
  height: 230px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 550px) {
  .subjectsIdsContainer {
    height: 190px;
  }
}

.ids {
  padding: 10px 15px;
  margin-bottom: 0;
}

@media (max-width: 550px) {
  .ids {
    font-size: 14px;
  }
}

.ids b {
  padding: 2px 4px;
}

.ids.clear {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ids.clear:hover {
  background-color: #feb249;
}

.box-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-input input {
  border-radius: 6px;
}

.color-image {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.color-image img {
  width: 35px;
}

@media (max-width: 550px) {
  .color-image {
    padding: 5px;
  }
  .color-image img {
    width: 28px;
  }
}

#hideColor {
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
  opacity: 0;
  visibility: hidden;
}

.calendar-page {
  background-color: #5cdb95;
  font-family: "Roboto Slab", serif;
  margin-bottom: 100px;
}

.calendar {
  background-color: #edf5e1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.day {
  margin: 5px;
  padding: 10px 5px;
  border-radius: 10px;
  height: 250px;
  overflow-y: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(100%/8);
          flex: 1 0 calc(100%/8);
}

@media (max-width: 1400px) {
  .day {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(100%/5);
            flex: 1 0 calc(100%/5);
  }
}

@media (max-width: 700px) {
  .day {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 calc(100%/2);
            flex: 1 0 calc(100%/2);
    height: 175px;
  }
}

.day-name {
  padding: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}

@media (max-width: 700px) {
  .hideCalendarMobile {
    display: none;
  }
}

.day-element {
  cursor: pointer;
  border-top: var(--color) 8px solid;
  background-color: #edf5e1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 2px;
  text-align: center;
}

@media (max-width: 700px) {
  .day-element {
    padding: 3px 5px;
  }
  .day-element p {
    margin-bottom: 0;
  }
}

.action-img {
  margin: 15px 0px;
  background-color: #feb249;
  border-radius: 50%;
  width: 50px;
}

.menu {
  width: 95%;
  margin: 10px auto;
}

.swapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px 0px;
}

.swapper img {
  width: 60px;
  background-color: #53d3d1;
  padding: 5px;
  border-radius: 10px;
}

@media (max-width: 550px) {
  .swapper img {
    width: 50px;
  }
}

.info {
  width: calc(min(800px, 90%));
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 550px) {
  .info {
    width: 100%;
    height: 50px;
  }
  .info img {
    width: 40px;
  }
}

.show-colors {
  font-family: "Roboto Slab", serif;
  margin: 0;
  background-color: #002447;
  padding: 5px 10px;
  color: #edf5e1;
  border-radius: 5px;
  cursor: help;
}

@media (max-width: 550px) {
  .show-colors {
    padding: 5px 6px;
    font-size: 15px;
  }
}

.del-type-img {
  background-color: #53d3d1;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
}

.mycontainer {
  width: calc(min(800px, 80%));
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 600px;
  margin: 0 auto;
  background-color: #5cdb95;
  margin-bottom: 70px;
}

@media (max-width: 900px) {
  .mycontainer {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .mycontainer {
    width: 100%;
    max-height: 400px;
  }
}

.delivery-container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 10px 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #5cdb95;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}

@media (max-width: 550px) {
  .delivery-container {
    width: 100%;
  }
}

.delivery-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 15px auto;
  padding: 20px 10px;
  background-color: #edf5e1;
  border-radius: 15px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .delivery-block {
    padding: 10px 5px;
    width: 95%;
  }
}

.delivery-name {
  max-width: 75%;
}

.delivery-name p, .delivery-date p {
  margin: 0;
  text-align: center;
}

@media (max-width: 550px) {
  .delivery-name p, .delivery-date p {
    font-size: 16px;
  }
}

.popup-col {
  position: absolute;
  left: 50%;
  top: 300px;
  width: 400px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #feb249;
  padding: 5px;
  border-radius: 20px;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 550px) {
  .popup-col {
    position: absolute;
    left: 50%;
    top: 200px;
    width: 90%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.popup-rem {
  position: fixed;
  left: 50%;
  top: 80%;
  width: 300px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #53d3d1;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Roboto Slab", serif;
}

.popup-rem img {
  width: 35px;
  border-radius: 50%;
}

.popup-rem p {
  margin-bottom: 0;
  width: 95%;
}

.popup-rem .action-img {
  margin-top: 0;
}

.close {
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
}

.close img {
  background-color: white;
  width: 35px;
}

.popup-del {
  position: absolute;
  left: 50%;
  top: 300px;
  width: calc(min(70%, 500px));
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #feb249;
  color: #0e1111;
  border-radius: 20px;
  font-family: "Roboto Slab", serif;
}

@media (max-width: 550px) {
  .popup-del {
    position: absolute;
    left: 50%;
    top: 300px;
    width: 90%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

.popup-del p {
  margin-bottom: 0;
}

.popup-del img {
  width: 50px;
  background-color: #feb249;
  border-radius: 50%;
  padding: 5px;
}

@media (max-width: 550px) {
  .popup-del img {
    width: 40px;
  }
}

.popup-del-element {
  text-align: center;
  margin-bottom: 10px;
}

#popup-name {
  font-size: 32px;
  padding: 0 10px;
}

@media (max-width: 550px) {
  #popup-name {
    font-size: 22px;
  }
}

#popup-subject {
  font-size: 20px;
}

@media (max-width: 550px) {
  #popup-subject {
    font-size: 16px;
  }
}

#popup-date {
  font-size: 25px;
}

@media (max-width: 550px) {
  #popup-date {
    font-size: 20px;
  }
}

#popup-descr {
  width: 80%;
  margin: 10px auto;
  min-height: 100px;
  max-height: 150px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: #edf5e1;
  color: #0e1111;
}

@media (max-width: 550px) {
  #popup-descr {
    height: 70px;
    font-size: 15px;
    width: 95%;
  }
}

.popup-end {
  background-color: #5cdb95;
  margin: 30px 20px 0;
  padding-bottom: 10px;
  border-radius: 20px;
}

@media (max-width: 550px) {
  .popup-end {
    margin: 0;
  }
}

.popup-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10px;
}

.error {
  color: #edf5e1;
  font-family: "Bebas Neue", cursive;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  font-size: 30px;
}

.error a {
  text-decoration: none;
  background-color: #5cdb95;
  color: #53d3d1;
  padding: 10px 30px;
}
/*# sourceMappingURL=main.css.map */