*{
    margin: 0;
    padding: 0;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sm-margin{
    margin: 15px;
}

#logo{
    font-size: 27px;
    font-family: 'Lucida Sans';
}

.login-box{
    width: 500px;
    height: 600px;
    background-color: aliceblue;
}

.login-btn{
    color: white !important;
}

.login-page{
    margin-top: 100px;
    width: 100%;
    height: 100%;
    left: 0em;
    top: 0em;
    position: fixed;
    background-color: #b33d25;
}

.head-legend{
    text-align: center;
    margin-top: 20px;
}

.secondary-header{
    height: 100px;
    width: 100%;
    background-color: darkslategrey;
}

.secondary-header ul{
    list-style: none;
}

.secondary-header ul li{
    display: inline-block;
    margin: 0 10px;
}

.link{
    text-decoration: none;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}

.link:hover{
    color: white;
    border-bottom: white 3px solid;
}

.mycontainer{
    width: fit-content;
    margin: 20px;
}

.right{
    float: right;
}

.left{
    float: left;
}

.home{
    width: 100%;
}

.delivery-container{
    background-color:brown;
    width: min(80%, 900px);
    margin: 0 auto;
    height: 600px;
    overflow-y: scroll;
}

.delivery-block{
    border: 2px solid black;
    height: 100px;
    box-sizing: content-box;
    margin-bottom: 0px;
    
}

.delivery-name{
    width: 70%;
    float: left;
    height: 100px;
    vertical-align: middle;
    color: beige;
    padding-left: 10px;
    display: inline-block;
    padding-top: 30px;
}


.delivery-date{
    width: 20%;
    float: left;
    height: 100px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 30px;
}

.actions{
    padding-top: 13px;
    width: 10%;
    float: left;
    height: 100px;
    text-align: center;
}

.actions img{
    width: 30px;
    height: 30px;
}

.refresh-box{
    height: 100px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
}

#refresh-text{
    background-color: #1c273a;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}

#refresh-text:hover{
    color: white;
}

.time{
    color: chartreuse;
}

.dropdown{
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.delivery-dropdown{
    float: center;
    background-color: skyblue;
    padding: 5px;
    border: 2px solid black;
    border-radius: 15px;
}
