{% extends "base.html" %}
{% block content %}
<div class="form-page">
    <div class="form-box">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h1 class="head-legend">Add Delivery</h1>
            <div class="form-group sm-margin">
                {{ form.delivery_name.label(class="form-control-label") }}
                {% if form.delivery_name.errors %}
                {{ form.delivery_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.delivery_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.delivery_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group sm-margin">
                {{ form.delivery_description.label(class="form-control-label") }}
                {% if form.delivery_description.errors %}
                {{ form.delivery_description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.delivery_description.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.delivery_description(class="form-control form-control-lg text-area-small") }}
                {% endif %}
            </div>
            <div class="form-group sm-margin">
                {{ form.subject_name.label(class="form-control-label") }}
                {% if form.subject_name.errors %}
                {{ form.subject_name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.subject_name.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.subject_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group sm-margin">
                {{ form.toDate.label(class="form-control-label") }}
                {% if form.toDate.errors %}
                {{ form.toDate }}
                <div class="invalid-feedback">
                    {% for error in form.toDate.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.toDate }}
                {% endif %} 
            </div>
            <div class="btn btn-primary sm-margin">
                {{ form.submit(class="btn login-btn") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}