{% extends "home.html" %}
{% block deliveries %}
<div class="menu">
    <!--<div class="swapper md-vr-mg">
        <a href="{{url_for('main.home')}}"><img class="shadow" src="/static/web_pics/list.png" alt=""></a>
    </div>-->
    <div class="info">
        <div>
            <a href="{{ url_for('deliveries.calendar', n=view-1) if view > 0 else pass}}">
                <img class="del-type-img" src="/static/web_pics/prev.png" alt="">
            </a>
        </div>
        <div>
            <a href="{{ url_for('deliveries.add_delivery', next=request.endpoint) }}">
                <img class="shadow action-img" src="/static/web_pics/add.png" alt="">
            </a>
        </div>
        <div>
            <p id="colors-btn" class="show-colors shadow">Show subjects</p>
        </div>
        <div>
            <a href="{{ url_for('deliveries.update_deliveries', next=request.endpoint) }}">
                <img class="shadow action-img" src="/static/web_pics/refresh.png" alt="">
            </a>
        </div>
        <div>
            <a href="{{url_for('deliveries.calendar', n=view+1)}}"><img class="del-type-img" src="/static/web_pics/next.png" alt=""></a>
        </div>
    </div>
    <div class="calendar-page">
        <h2 class="center-text sm-vr-pd">{{month}}</h2>
        <div class="calendar">
            {% for day in days %}
            <div class="day shadow" style="background-color: {{day['color']}};">
                <p>{{day['day_name']}}</p>
                {% for d in day['deliveries'] %}
                <div class="day-element shadow" onclick='openPopup({{ d|tojson }}, "/calendar/{{view}}")'
                     style="--color: {{d['subject_color']}};">
                    <p>{{d['name']}}</p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock deliveries %}

<!-- <div class="calendar-page">
    <div class="calendar">
        <div class="month-name">
            <p>{{month}}</p>
        </div>
        {% for day in days %}
        <div class="day" style="background-color: {{day['color']}};">
            <p class="day-corner">{{day['day_name']}}</p>
            {% for d in day['deliveries'] %}
            <div onclick='openPopup({{ d|tojson }}, "/calendar/{{view}}")'
            class="day-element" style="background-color: {{d['subject_color']}};">
                <p class="day-element-name small-font">{{d['name']}}</p>
            </div>
            {% endfor %}
            <a href="{{url_for('deliveries.add_delivery', day=day['day'], month=day['month'])}}">
                <img width="30px" src="/static/web_pics/add.png" alt="">
            </a>
        </div>
        {% endfor %}
    </div> 
</div> -->