{% extends "home.html" %}
{% block deliveries %}
<div class="calendar">
    <div class="colors-calendar">
        <p class="colors-calendar-content" id="colors-btn">Show colors</p>
    </div>
    {% for day in days %}
    <div class="day" style="background-color: {{day['color']}};">
        <p class="day-corner">{{day['day']}}</p>
        {% for delivery, subject in day['deliveries'] %}
        <div onclick="openPopup([
                    '{{delivery.name}}',
                    '{{delivery.description}}',
                    '{{delivery.toDate}}',
                    '{{delivery.url}}',
                    'Done',
                    '{{subject.name}}',
                    '{{subject.id}}',
                    '{{delivery.id}}'
                    ], 'calendar')" style="background-color: {{subject.color}};" class="day-element">
            <p class="day-element-name">{{delivery.name}}</p>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% endblock deliveries %}