{% extends "home.html" %}
{% block deliveries %}
<div class="calendar-page">
    <div class="colors-calendar">
        {% if view > 0 %}
        <a class="left" href="{{url_for('deliveries.calendar', n=view-1)}}">
            <img width="40px" height="40px" src="/static/web_pics/prev.png" alt=""></a>
        {% endif %}
        <a class="right" href="{{url_for('deliveries.calendar', n=view+1)}}">
            <img width="40px" height="40px" src="/static/web_pics/next.png" alt=""></a>
            <p class="colors-calendar-content" id="colors-btn">Show colors</p>
    </div>
    <div class="calendar">
        <div class="month-name">
            <p>{{month}}</p>
        </div>

        {% for day in days %}
        <div class="day" style="background-color: {{day['color']}};">
            <p class="day-corner">{{day['day']}}</p>
            {% for delivery, subject in day['deliveries'] %}
            <div class="day-element" onclick="openPopup([
                    '{{delivery.name}}',
                    '{{delivery.description}}',
                    '{{delivery.toDate}}',
                    '{{delivery.url}}',
                    'Done',
                    '{{subject.subject.name}}',
                    '{{subject.subject.identification}}',
                    '{{delivery.id}}'
                    ], '/calendar/{{view}}')" style="
                        background-color: {{subject.color}};
                        border:3px solid {{subject.color}};">
                <p class="day-element-name small-font">{{delivery.name}}</p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>  
</div>

{% endblock deliveries %}