{% extends "home.html" %}
{% block deliveries %}
<div class="menu">
    <div class="swapper md-vr-mg">
        <a href="{{url_for('deliveries.calendar')}}"><img class="shadow" src="/static/web_pics/calendar.png" alt=""></a>
    </div>
    <div class="info">
        <div>
            <a href="{{url_for('main.done_deliveries')}}"><img class="del-type-img" src="/static/web_pics/done-del.png" alt=""></a>
        </div>
        <div>
            <a href="{{ url_for('deliveries.add_delivery', next=request.endpoint) }}">
                <img class="shadow action-img" src="/static/web_pics/add.png" alt="">
            </a>
        </div>
        <div>
            <p id="colors-btn" class="show-colors shadow">Show subjects</p>
        </div>
        <div>
            <a href="{{ url_for('deliveries.update_deliveries', next=request.endpoint) }}">
                <img class="shadow action-img" src="/static/web_pics/refresh.png" alt="">
            </a>
        </div>
        <div>
            <a href="{{url_for('main.removed_deliveries')}}"><img class="del-type-img" src="/static/web_pics/remove.png" alt=""></a>
        </div>
    </div>
</div>
<div class="mycontainer">
    <div id="notdone" class="delivery-container">
        {% if deliveries|length > 0 %}
            {% for d in deliveries %}
                <div onclick='openPopup({{ d|tojson }}, "/")' class="delivery-block shadow">
                    <span style="--color: {{d['subject_color']}};" class="subject-color"></span>
                    <div class="delivery-name">
                        <p>{{d["name"]}}</p>
                    </div>
                    <div class="delivery-date">
                        <p class="time">{{d["toDate"]}}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="delivery-block shadow">
                    <div class="delivery-name">
                        <p>No future deliveries</p>
                    </div>
                </div>
        {% endif %}
    </div>
</div>
{% endblock deliveries %}