{% extends "home.html" %}
{% block deliveries %}
<div class="menu">
    <div class="swapper md-vr-mg">
        <a href="{{url_for('deliveries.calendar')}}"><img class="shadow" src="/static/web_pics/calendar.png" alt=""></a>
    </div>
    <div class="info" style="justify-content:center">
        <div>
            <a href="{{url_for('main.home')}}"><img class="del-type-img" src="/static/web_pics/home.png" alt=""></a>
        </div>
    </div>
</div>
<div class="mycontainer">
    <div id="notdone" class="delivery-container">
        {% if deliveries|length > 0 %}
            {% for d in deliveries %}
                <div onclick='openPopup({{ d|tojson }}, "/removed")' class="delivery-block shadow">
                    <span style="--color: {{d['subject_color']}};" class="subject-color"></span>
                    <div class="delivery-name">
                        <p>{{d["name"]}}</p>
                    </div>
                    <div class="delivery-date">
                        <p class="time">{{d["toDate"]}}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="delivery-block shadow">
                    <div class="delivery-name">
                        <p>{{lenguages["No future deliveries"][cl]}}</p>
                    </div>
                </div>
        {% endif %}
    </div>
</div>
{% endblock deliveries %}