{% extends "home.html" %}
{% block deliveries %}
<div class="menu">
    <div class="colors">
        <p id="colors-btn">Show colors</p>
    </div>
    <div class="dropdown">
        <select class="delivery-dropdown" id="delivery-type"  onchange="deliveryType()">
            <option value="/">Deliveries</option>
            <option value="done">Done deliveries</option>
            <option selected value="removed">Removed deliveries</option>
        </select>
    </div>
    {% if current_user.last_update %}
        <div class="last-update">
            <p>Last update: <br>{{current_user.last_update.strftime("%H:%M - %d/%m") }}</p>
        </div>
    {% endif %}
</div>
<div id="done" class="delivery-container">
    {% if deliveries|length > 0 %}
        {% for delivery, subject in deliveries %}
            <div onclick="openPopup([
                    '{{delivery.name}}',
                    '{{delivery.description}}',
                    '{{delivery.toDate}}',
                    '{{delivery.url}}',
                    'Restore',
                    '{{subject.subject.name}}',
                    '{{subject.subject.identification}}',
                    '{{delivery.id}}'
                    ], '{{request.endpoint}}')")"
                    class="delivery-block" style="background-color: {{subject.color}};">
                <div class="delivery-name">
                    <p>{{delivery.name}}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="delivery-block">
                <div class="delivery-name">
                    <p class="vcenter">No removed deliveries</p>
                </div>
        </div>
    {% endif %}
</div>
{% endblock deliveries %}