{% extends "base.html" %}
{% block content %}
<div class="login-page">
    <div class="login-box">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h1 class="head-legend">Add Subject</h1>
            {% if message %}
            <div id="warning-message" class="alert alert-danger" role="alert">
                {{message}}
            </div>
            {% endif %}
            <div class="form-group sm-margin">
                <p>{{ form.subject_id.label(class="form-control-label") }} <i>{number at the end of a subject's url}</i></p>
                {% if form.subject_id.errors %}
                {{ form.subject_id(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.subject_id.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.subject_id(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group sm-margin">
                {{ form.subject_color.label(class="form-control-label left-3") }}
                {% if form.subject_color.errors %}
                {{ form.subject_color(id="color-content", placeholder="fc773e (orange)", class="left-3 is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.subject_color.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.subject_color(id="color-content", placeholder="fc773e (orange)", class="left-3") }}
                {% endif %}
                <div onclick="randomColor()" class="left-3 random-btn">Random</div>
            </div>
            <div class="btn btn-primary sm-margin left-3">
                {{ form.submit(class="btn login-btn") }}
            </div>
        </form>
        <h1 class="head-legend">Your subjects</h1>
        <div class="your-subjects">
            {% for subject in current_user.subjects %}
            <div class="subject-box row">
                <div class="subject-name" style="flex:10;background-color: {{subject.color}};">
                    <p><b>{{subject.subject.identification}}</b> - {{subject.subject.name}}</p>
                </div>
                <div class="subject-action" style="flex:1;">
                    <a href="{{url_for('subjects.subject_remove', id=subject.subject.identification)}}"><img src="/static/web_pics/remove.png" alt="" srcset=""></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</div>

{% endblock content %}