{% extends "base.html" %}
{% block content %}
<div class="form-page">
    <div class="form-box">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h1 class="form-title">Select Subject</h1>
            
            <!-- If user has no cached subjects from uni ask user to search them -->
            {% if not subjects|length %}
            <div class="center-text lg-vr-mg">
                <a class="button visible" href="{{url_for('subjects.subject_search')}}">
                    Find Subjects</a>
            </div>
            {% else %}

            <!-- Error messages -->
            {% if message %}
            <div id="warning-message" class="alert alert-danger" role="alert">
                {{message}}
            </div>
            {% endif %}

            <!-- Container of cached subjects --> 
            <div class="subjectsIdsContainer">
            {% for id,name in subjects %}
                <!-- My subjects -->
                {% if get_subject(id) %}
                <p class="ids" value="{{id}}">
                    <b style="background-color: {{get_subject(id).color}};">{{id}}</b> {{name}}
                </p>
                <!-- Other subjects -->
                {% else %}
                <p class="ids clear" value="{{id}}" onclick="setSubject(this)">
                    <b>{{id}}</b> {{name}}
                </p>
                {% endif %}
            {% endfor %}
            </div>
            
            <!-- Hided subject id input -->
            {{ form.subject_id(id="subjectID") }}

            <!-- Change subject color area -->
            <div class="form-group form-element">
                {{ form.subject_color.label(class="form-control-label full") }}
                {{ form.subject_color(id="color-content", placeholder="fc773e", class="half-left") }}
                <div onclick="randomColor()" class="half-left random-button">
                    <p>Random</p>
                </div>

                <!-- Errors -->
                {% if form.subject_color.errors %} 
                <div class="invalid">
                    {% for error in form.subject_color.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Submit area -->
            <div class="form-button sm-margin">
                {{ form.submit(class="button") }}
            </div>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}