.your-subjects{
    background-color: white;
    width: 90%;
    margin: 0 auto;
    overflow-y: scroll;
    height: 250px;
    margin-top: 20px;
    @include mobile{
        width: 100%;
        margin-top: 5px;
        height: 220px;
        overflow-x: hidden;
    }
}

#subject_id{
    @include mobile{
        padding: 0;
        font-size: $font-small;
    }
}

.subject-box{
    height: fit-content;
}

.subject-name{
    width: 90%;
    float: left;
}

.subject-name p{
    background-color: #f1f1f1;
    width: fit-content;
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px 10px;
    font-size: 18px;
    @include mobile{
        padding: 5px;
        margin: 5px;
        font-size: 16px;
    }
}

.subject-action{
    margin-top: 10px;
    float: left;
    width: 10%;
}

.subject-action img{
    width: 30px;
    height: 30px;
}

.add{
    padding-top: 20px;
    width: 20%;
    margin: 0 auto;
    img{
        display: block;
        margin: auto;
    }
}

.subjectsIdsContainer{
    background-color: white;
    font-size: 17px;
    height: 150px;
    overflow-y: scroll;
    p{
        margin-bottom: 0 !important;
    }
}