.your-subjects{
    width: 95%;
    margin: 0 auto;
    overflow-y: auto;
    height: fit-content;
    min-height: 300px;
    margin-top: 20px;
    @include mobile{
        margin-top: 5px;
        min-height: 200px;
        overflow-x: hidden;
        width: 100%;
    }
}

#subject_id{
    @include mobile{
        padding: 0;
        font-size: $font-small;
    }
}

.subject-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color4;
    width: 90%;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 20px;
    @include mobile{
        width: 100%;
        padding: 5px 10px;
    }
}

#cachedSubjects{
    margin: 5px;
    padding: 5px;
    justify-content: flex-start;
    p{
        width: 80%;
    }
    @include mobile{
        padding: 5px;
        margin: 2px 5px;
        p{
            width: 90%;
        }
    }
}

.subject-color{
    height: 35px;
    width: 35px;
    background-color: var(--color);
    border-radius: 50%;
    @include mobile{
        height: 15px;
        width: 15px;
    }
}

.subject-name p{
    text-align: center;
    margin-left: 5px;
    margin-bottom: 0;
    @include mobile{
        font-size: 15px;
    }
}

.subject-action img{
    width: 35px;
    @include mobile{
        width: 27px;
    }
}

.add{
    background-color: $color4;
    margin: 15px auto;
    border-radius: 50%;
    width: fit-content;
    img{
        width: 60px;
        display: block;
        margin: auto;
        @include mobile{
            width: 40px;
        }
    }
}

.subjectsIdsContainer{
    background-color: $color4;
    margin-bottom: 15px;
    height: 230px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    @include mobile{
        height: 190px;
    }
}

.ids{
    padding: 10px 15px;
    margin-bottom: 0;
    @include mobile{
        font-size: 14px;
    }
    b{
        padding: 2px 4px;
    }
}

.ids.clear {
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: $color2;
    }
}

.box-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.color-input{
    input{
        border-radius: 6px;
    }
}

.color-image{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    img{
        width: 35px;
    }
    @include mobile{
        img{
            width: 28px;
        }
        padding: 5px;
    }
}

#hideColor{
    -webkit-transition: opacity 500ms, visibility 500ms;
    transition: opacity 500ms, visibility 500ms;
    opacity: 0;
    visibility: hidden;
}