.calendar-page{
    background-color: $color3;
    font-family: $font-content;
}

.calendar{
    background-color: $color1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.day{
    flex: 1 0 calc(100%/7);
    background-color: white;
    height: 250px;
    border: 1px solid black;
}

.action-img{
    margin: 15px 0px;
    background-color: $color2;
    border-radius: 50%;
    width: 50px;
}
