.popup-col{
    @include center-popup(300px, 400px);
    
    background-color: $color2;
    padding: 5px;
    border-radius: 20px;

    font-family: $font-content;
}


.popup-del{
    @include center-popup(300px, calc(min(70%, 500px)));

    background-color: $color4;
    color: $color5;
    border-radius: 20px;

    font-family: $font-content;
    p{margin-bottom: 0;}
    textarea{
        width: 80%;
        margin: 10px auto;
        min-height: 100px;
        max-height: 150px;
        border: none;
        border-radius: 10px;
        padding: 10px;
        background-color: $color2;
        color: $color5;
    }
    img{
        width: 50px;
        background-color: $color2;
        border-radius: 50%;
        padding: 5px;
    }
}

.popup-del-element{
    text-align: center;
    margin-bottom: 10px;
}

#popup-name{
    font-size: 32px;
    padding: 0 10px;
}

#popup-subject{
    font-size: 20px;
}

#popup-date{
    font-size: 25px;
}

.popup-end{
    background-color: $color3;
    padding-bottom: 20px;
    border-radius: 20px;
}

.popup-actions{
    display: flex;
    justify-content: space-evenly;
}