.welcome-page{
  height: fit-content;
  background: rgb(5,56,96);
  background: linear-gradient(0deg, rgba(5,56,96,1) 12%, rgba(3,132,173,1) 62%, rgba(0,212,255,1) 100%);
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  padding-top: 50px;
}

.start{
  width: 200px;
  margin: 10px auto;
  background-color: $color3;
  border-radius: 10px;
  padding: 5px 15px;
  border: 2px solid $color1;
  text-align: center;
  a{
    
    font-family: $font-header;
    font-size: $font-bigger;
    color: $color1;
    text-decoration: none;
  }
}

/* Hide the images by default */
.mySlides {
  margin-bottom: 15px;
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
  text-decoration: none;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
  @include mobile{
    background-color: rgba(0,0,0,0.4);
    padding: 10px;
  }
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 10px 0 0 10px;
}

/* Caption text */
.text {
  font-family: $font-content;
  font-weight: 700;
  font-size: $font-medium;
  color: white;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 75%;
  left: 13%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  @include mobile {
    font-size: 14px;
    font-weight: 500;
    font-family: $font-content;
  }
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000;
}

.universities{
  font-family: $font-content;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 50px;
  h1{
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
}

.university{
  width: fit-content;
  margin: 5px auto;
  img{
    width: 100px;
  }
}