{% extends "base.html" %}
{% block content %}
<div class="login-page">
    <div class="login-box">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h1 class="head-legend">Update password</h1>
            <div class="form-group sm-margin">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="btn btn-primary sm-margin">
                {{ form.submit(class="btn login-btn") }}
            </div>
        </form>
    </div>
    <div class="center">
        <a class="btn btn-primary sm-margin" href="{{ url_for('users.logout') }}">Logout</a>
    </div>
</div>
{% endblock content %}