{% extends "base.html" %}
{% block content %}
<div class="form-page">
    <div class="form-box">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h1 class="form-title">{{lenguages["Update password"][cl]}}</h1>
            <div class="form-group form-element">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-button mg-bt">
                {{ form.submit(class="button shadow md-vr-mg") }}
            </div>
            <div class="form-button form-out">
                <a class="button-sec" href="{{url_for('users.logout')}}">{{lenguages["Logout"][cl]}}</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}