{% extends "base.html" %}
{% block content %}
<div class="login-page">
    <div class="login-box">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <h1 class="head-legend">Register</h1>
            {% if message %}
            <div id="warning-message" class="alert alert-danger" role="alert">
                {{message}}
            </div>
            {% endif %}
            <div class="form-group sm-margin">
                {{ form.fullname.label(class="form-control-label") }}
                {% if form.fullname.errors %}
                {{ form.fullname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.fullname.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.fullname(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group sm-margin">
                {{ form.identification.label(class="form-control-label") }}
                {% if form.identification.errors %}
                {{ form.identification(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.identification.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.identification(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group sm-margin">
                {{ form.password.label(class="form-control-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="btn btn-primary sm-margin">
                {{ form.submit(class="btn") }}
            </div>
            <div class="sm-margin">
                <p>Have an account? <a href="{{url_for('users.login')}}">Login</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock content %}