$color1: #05386b;
$color2: #379683;
$color3: #5cdb95;
$color4: #8ee4af;
$color5: #edf5e1;
$color6: #3b444b;

$mobile: 600px;

$font-smaller: 10px;
$font-small: 15px;
$font-medium: 20px;
$font-big: 25px;
$font-bigger: 30px;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$font1: 'Bebas Neue', cursive;