$color0: #002447;
$color1: #53d3d1;
$color2: #feb249;
$color3: #5cdb95;
$color4: #edf5e1;
$color5: #0e1111;

$mobile: 550px;
$tablet: 900px;

$mobile-calendar: 700px;
$tablet-calendar: 1400px;


$calendar-mobile: 1;
$calendar-tablet: 4;
$calendar-general: 7;

$border-radius-small: 5px;
$border-radius-medium: 10px;
$border-radius-big: 20px;

$font-smaller: 15px;
$font-small: 17px;
$font-medium: 20px;
$font-big: 23px;
$font-bigger: 30px;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
$font-header: 'Bebas Neue', cursive;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');
$font-content: 'Roboto Slab', serif;