.form-page{
    background: $color1;
    height: 100%;
    margin-top: 100px;
    width: 100%;
    left: 0em;
    top: 0em;
    position: fixed;
}

.form-box{
    width: 500px;
    height: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    background-color: aliceblue;
    padding: 20px;
}