.form-page{
    height: fit-content;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 30px;
    @include mobile{
        padding-top: 20px;
    }
}

.form-box{
    position: relative;
    margin: 0 auto;
    background-color: $color3;
    font-family: $font-content;
    font-weight: 400;
    width: calc(min(600px, 88%));
    padding: 20px;
    @include mobile{
        width: 100%;
        padding: 5px;
    }
}

.form-title{
    text-align: center;
    color: $color5;
    margin-bottom: 15px;
}

.form-label{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.sm-margin{
    padding-bottom: 20px;
    @include mobile{
        padding: 0;
    }
}

.form-element{
    font-size: $font-big;
    margin: 10px;
    @include mobile{
        font-size: $font-small;
        margin: 4px;
    }
}

.form-button{
    @include center;
    border-radius: $border-radius-big;
}

.form-button-2{
    @include center;
    margin-top: 10px;
    a{
        @include button(
            $color2, 
            $color1, 
            $font-medium, 
            $border-radius-big);
        font-style: italic;
        font-weight: 600;
        text-decoration: none;
        padding: 5px 30px;
    }
}

.form-change{
    margin-top: 20px;
    font-weight: 700;
    a{
        color: $color1;
        background-color: $color4;
        text-decoration: none;
        padding: 5px 10px;
        font-weight: 700;
    }
}

.invalid{
    color: red;
    font-weight: 400;
    text-align: center;
    margin-bottom: 10px;
}

.form-out{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}