.header{
    a, a:hover{
        text-decoration: none;
        color: $color0;}
        
    background-color: $color3;
    padding: 10px 30px;
    @include mobile{padding: 10px 10px;}
    display: flex;
    justify-content: space-between;
}

.header-right{
    display: flex;
    align-items: center;
    font-family: $font-content;
    div{
        margin-left: 40px;
        font-size: 22px;
        @include mobile{
            margin-left: 10px;
            font-size: 17px;
        }
    }
}

.logo{
    font-family: $font-logo;
    font-size: 40px;
    @include mobile{font-size: 25px;}
}