.button{
    @include button(
        $color4, 
        $color5, 
        $font-medium, 
        $border-radius-big);
    padding: 5px 20px;
    &:hover{
        color:$color5;
    }
}

.random-button{
    p{
        width: fit-content;
        color: black;
        border:black 1px solid;
        font-weight: bold;
        margin-left: 20px;
        padding: 0 10px;
        background: rgb(30,253,29);
        background: linear-gradient(90deg,
         rgba(30,253,29,1) 0%,
         rgba(205,26,26,1) 100%);
        cursor: pointer;
    }
}

.shadow{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}


#search-subjects-button{
    width: 40px;
    margin-bottom: 5px;
}