.button{
    @include button(
        $color1, 
        $color2, 
        $font-medium, 
        $border-radius-big);
    padding: 5px 20px;
    font-weight: 600;
    text-decoration: none;
}

.visible{
    background-color: red;
    color: black;
    padding: 10px 20px;
    &:hover{
        color: black;
    }
}

.random-button{
    p{
        width: fit-content;
        color: black;
        border:black 1px solid;
        font-weight: bold;
        margin-left: 20px;
        padding: 0 10px;
        background: rgb(30,253,29);
        background: linear-gradient(90deg,
         rgba(30,253,29,1) 0%,
         rgba(205,26,26,1) 100%);
        cursor: pointer;
    }
}