*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea:focus, input:focus{
    outline: none;
}

.half-rigth{
    width: 50%;
    float: right;
}

.half-left{
    width: 50%;
    float: left;
}

.right{
    float: right;
}

.left{
    float: left;
}

.nopointer{
    cursor: default !important;
}

.center-text{
    text-align: center;
}

.sm-vr-mg{
    margin-top: 10px;
    margin-bottom: 10px;
}

.md-vr-mg{
    margin-top: 25px;
    margin-bottom: 25px;
}

.lg-vr-mg{
    margin-top: 50px;
    margin-bottom: 50px;
}

.sm-hr-mg{
    margin-right: 10px;
    margin-left: 10px;
}

.md-hr-mg{
    margin-right: 10px;
    margin-left: 10px;
}

.lg-hr-mg{
    margin-right: 10px;
    margin-left: 10px;
}

.slow-tr{
    transition: 2s;
}

.link{
    text-decoration: none;
    
}