{% extends "layout.html" %}
{% block content %}
    <div class="login-form">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Register</legend>
                <div class="form-group">
                    {{ form.fullname.label(class="label") }}
                    {% if form.fullname.errors %}
                        {{ form.fullname(class="label") }}
                        <div class="invalid">
                            {% for error in form.fullname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fullname(class="input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.identification.label(class="label") }}
                    {% if form.identification.errors %}
                        {{ form.identification(class="label") }}
                        <div class="invalid">
                            {% for error in form.identification.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.identification(class="input") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="label") }}
                        <div class="invalid">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="input") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </div>
    <div class="alt-form">
        Already have an account? <a href="{{ url_for('login') }}">Login</a>
    </div>
{% endblock content %}