<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Univery | {{title}}</title>
    <link rel="icon" href="../static/web_pics/done.png">
</head>

<body>
    <header class="secondary-header">
        <div class="mycontainer left">
            <ul>
                <li><a id="logo" class="link" href="{{ url_for('main.home') }}">Univery</a></li>
            </ul>
        </div>
        <div class="mycontainer right">
            <ul>
                {% if current_user.is_authenticated %}
                <li><a class="link" href="{{ url_for('deliveries.add_delivery') }}">Add delivery</a></li>
                <li><a class="link" href="{{ url_for('subjects.subjects_page') }}">Subjects</a></li>
                <li><a class="link" href="{{ url_for('users.logout') }}">Logout</a></li>
                {% else %}
                <li><a class="link" href="{{ url_for('users.login') }}">Login</a></li>
                <li><a class="link" href="{{ url_for('users.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </header>
    {% block content %}{% endblock %}
</body>

</html>
<script src="/static/scripts.js"></script>
<script>
    var waitin = document.getElementById('waiting');
    var loadin = document.getElementById('loading');
    var popup = document.getElementById('popup');
    var divsToHide = document.getElementsByClassName("toHide");
    
    var done = document.getElementById("done");
    var undone = document.getElementById("notdone");

    loadin.style.display = "none";
    done.style.display = "none";
    popup.style.display = "none";
    undone.style.display = "block";
    
    for(var i = 0; i < divsToHide.length; i++){ 
        divsToHide[i].style.display = "none";
    }
    

    document.getElementById('refresh-text').onclick = function () {
        waitin.style.display = "none";
        loadin.style.display = "block";
    }

    function deliveryType () {
        var dropdown_value = document.getElementById("delivery-type").value;
        console.log(dropdown_value);
        if(dropdown_value === "undone"){
            done.style.display = "none";
            undone.style.display = "block";
        }else{
            done.style.display = "block";
            undone.style.display = "none";
        }
    }


    function openPopup (delivery) {
        document.getElementById('popup').style.display = "block";
        document.getElementById('popup-name').textContent = delivery[0];
        document.getElementById('popup-descr').textContent = delivery[1];
        document.getElementById('popup-date').textContent = delivery[2];
        if(delivery[3] === "Done"){
            document.getElementById('popup-done-div').style.display = "block";
            document.getElementById('popup-undone-div').style.display = "none";
            
            var textDone = document.getElementById('popup-done').href;
            var textDoneID = textDone.slice(0, textDone.length-1) + delivery[6].toString();
            document.getElementById('popup-done').href = textDoneID;
        }else{
            document.getElementById('popup-done-div').style.display = "none";
            document.getElementById('popup-undone-div').style.display = "block";

            var textDone = document.getElementById('popup-undone').href;
            var textDoneID = textDone.slice(0, textDone.length-1) + delivery[6].toString();
            document.getElementById('popup-undone').href = textDoneID;
        }
        var textDelete = document.getElementById('popup-delete').href;
        var textDeleteID = textDelete.slice(0, textDelete.length-1) + delivery[6].toString();
        document.getElementById('popup-delete').href = textDeleteID;
    }

    document.getElementById('closePopup').onclick = function () {
        document.getElementById('popup').style.display = "none";
    }

</script>
</html>