<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="/static/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>Univery | {{title}}</title>
        <link rel="icon" href="../static/web_pics/favicon.png">
    </head>
    <body>
        <header class="header">
            <div>
                <a class="logo" href="{{ url_for('main.home') }}">
                    Univery
                </a>
            </div>
            <div class="header-right">
                {% if current_user.is_authenticated %}
                <div><a href="{{ url_for('subjects.subjects_list') }}">Subjects</a></div>
                <div><a href="{{ url_for('users.account') }}">Account</a></div>
                {% else %}
                <div><a href="{{ url_for('users.login') }}">Login</a></div>
                <div><a href="{{ url_for('users.register') }}">Register</a></div>
                {% endif %}
            </div>
        </header>
    {% block content %}{% endblock %}
    </body>
<script type="text/javascript" src="/static/scripts-dynamic.js"></script>
<script type="text/javascript" src="/static/scripts-static.js"></script>
</html>