{% extends "base.html" %}
{% block content %}
<div class="home">
    <div class="refresh_box">
        <a href="{{ url_for('deliveries.update_deliveries') }}">Refresh updates</a>
    </div>
    <div class="delivery-container">
        {% if deliveries|length > 1 %}
            {% for delivery in deliveries %}
                <div class="delivery-block">
                    <div class="delivery-name">
                        <p class="vcenter">{{delivery.name}}</p>
                    </div>
                    <div class="delivery-date">
                        <p class="time">{{delivery.toDate}}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="delivery-block">
                    <div class="delivery-name">
                        <p class="vcenter">No future deliveries</p>
                    </div>
            </div>
        {% endif %}
    </div>
</div>

{% endblock content %}