{% extends "base.html" %}
{% block content %}
<div class="home">
    <div class="delivery-container">
        <div class="delivery-block">
            <div class="delivery-name">
                <p class="vcenter">Assigment 1</p>
            </div>
            <div class="delivery-date">
                <p>21/12 23:59</p>
            </div>
        </div>
        <div class="delivery-block">
            <div class="delivery-name">
                <p class="vcenter">Assigment 2</p>
            </div>
            <div class="delivery-date">
                <p>21/12 23:59</p>
            </div>
        </div>
        <div class="delivery-block">
            <div class="delivery-name">
                <p class="vcenter">1EDS-full: Event Driven Simulation Full Submission</p>
            </div>
            <div class="delivery-date">
                <p>21/12 23:59</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}