{% extends "base.html" %}
{% block content %}
<div class="welcome">
    <div class="welcome-element">
        <div class="welcome-image">
            <img src="/static/web_pics/welcome-list.png" alt="">
        </div>
        <div class="welcome-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis sequi facere eum hic laborum a voluptates ex, 
                sint obcaecati esse amet ab, nemo numquam? Quod ab sint
                impedit quasi? Dolorem.
            </p>
        </div>
    </div>
    <div class="welcome-element">
        <div class="welcome-image">
            <img src="/static/web_pics/welcome-calendar.png" alt="">
        </div>
        <div class="welcome-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis sequi facere eum hic laborum a voluptates ex, 
                sint obcaecati esse amet ab, nemo numquam? Quod ab sint
                impedit quasi? Dolorem.
            </p>
        </div>
    </div>
    <div class="welcome-element">
        <div class="welcome-image">
            <img src="/static/web_pics/welcome-add.png" alt="">
        </div>
        <div class="welcome-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis sequi facere eum hic laborum a voluptates ex, 
                sint obcaecati esse amet ab, nemo numquam? Quod ab sint
                impedit quasi? Dolorem.
            </p>
        </div>
    </div>
    <div class="welcome-element">
        <div class="welcome-image">
            <img src="/static/web_pics/welcome-details.png" alt="">
        </div>
        <div class="welcome-text">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Corporis sequi facere eum hic laborum a voluptates ex, 
                sint obcaecati esse amet ab, nemo numquam? Quod ab sint
                impedit quasi? Dolorem.
            </p>
        </div>
    </div>
</div>
{% endblock %}